.form__header_type_remove-card {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 23px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 911px){
    .form__header_type_remove-card {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 23px;
    }
}