.form__input {
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    width: 100%;
}

.form__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 767px){
    .form__input:last-of-type {
        margin-bottom: 45px;
    }
}