.popup__close-btn {
    width: 32px;
    height: 32px;
    background-color: unset;
    border: 0;
    background-image: url(../../../images/Close\ Icon.svg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
    transition: opacity 0.2s ease-out;
    box-sizing: border-box;
}

.popup__close-btn:hover{
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 0;
        top: -40px;
    }
}